{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Akcie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'akcie/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/akcie/">Akcie</a></li>
            <li><a href="/transakce/">Transakce</a></li>
            <li><a href="/dividendy/">Dividendy</a></li>
        </ul>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
    <script src="/static/akcie/scripts.js"></script>
</body>
</html>
