{% extends 'akcie/base.html' %}
{% block content %}
<h1>Seznam dividend</h1>

<form method="get" action="">
    <input type="text" name="q" placeholder="Hledat...">
    <button type="submit">Hledat</button>
</form>

<ul>
    {% for dividenda in dividendy %}
        <li><a href="/dividendy/{{ dividenda.id }}/">Dividenda - {{ dividenda.akcie.nazev }}</a></li>
    {% endfor %}
</ul>
<a href="/dividendy/create/">Přidat novou dividendu</a>
<a href="/dividendy/export/">Exportovat dividendy do CSV</a>
{% endblock %}
